
<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <h4>title</h4>
   <textarea name="composetitle" rows="1" cols="170"></textarea>
  <h4>Post</h4>
  <textarea name="composebody" rows="5" cols="170"></textarea></br>
  <button class="btn btn-primary" type="submit" name="">publish</button>
</form>




<%- include('partials/footer'); -%>
